body{
    background-image: url("./assets/images/mainimaage.jpg");
}

.nav{
    background-color: whitesmoke;
  display: flex;
  height: 50px;
  align-items: center;
  float: right;

}

.nav-items a{
    font-weight: 500;
    color: black;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.welcome{
    z-index: 1;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

.welcome-content{
    position: absolute;
    top: 100px;
    left: 40%;
}

.card{
    background-color: whitesmoke;
    background-color: 2px solid lawngreen;
    width: 800px;
    padding: 20px;
    margin-left: 200px;
    margin-top: 180px;
}


.row{
    display: flex;
}


